<div class="container">

	<div class="starter-template">
		<h1>Welcome to the {{get_name}}!</h1>
		<p class="lead">The first thing we need to do is check if your device is ready.</p>
		<div class="well">
<pre id="tessel-status">
* Initializing... (this may take a moment)
</pre>
			<div id="tessel-log" class="well">

			</div>
		</div>
	</div>

</div><!-- /.container -->
